.footer {
  margin: 3rem 0;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__menu {
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    gap: 2rem;

    &-item {
    }

    &-link {
      font-size: 1.3rem;
      color: $color2;
      transition: all .3s;

      &:hover {
        padding-bottom: .5rem;
        border-bottom: 1px solid $color2;
      }
    }
  }

  &__info {
    color: gray;
    font-size: 1.3rem;
    margin-top: .5rem;
    a{
      color: inherit;
      transition: color .3s;

    &:hover {
      color: $color2;
    }
    }
  }
}