.main {
  &__top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  &__list {
    &-title {
      font-size: 1.8rem;
      color: $color2;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &-item {
      margin-bottom: 1rem;
    }

    &-link {
      padding: 0.5rem 0;
      font-size: 1.6rem;
      color: $color1;
      transition: color .3s;

      &:hover {
        color: $color2;
      }
    }
  }

  &__preview {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    display: block;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.3);
    border-radius: 1rem;

    &-box {
      // width: 60rem;
      max-width: 50rem;
      padding: 0 1.4rem;
    }
  }
}